@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Manrope:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', Arial, sans-serif; 
  }
  
body {
  background: #111828;
  color: #C9C9C9;
  padding: 20px;
}


/* Calendar */
.p-datepicker-header {
  background-color: #C9C9C9;
  padding: 5px;
  border-radius: 10px 10px 0 0;
}

.p-datepicker-other-month {
  color: #4a4a4a
}
