.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 0;
}

.navbarBrand {
  font-size: 30px;
  font-weight: bold;
}


.navbarBurger {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.navbarBurger span {
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  transition: all 0.3s ease;
  
}

.navbarMenu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 250px;
  height: 100%;
  background-color: #2d3748; /* Цвет фона меню, как в myBooking */
  display: flex;
  flex-direction: column;
  padding: 20px;
  transition: right 0.3s ease;
  z-index: 1000; /* Меню поверх всего */
}

.navbarMenu.active {
  right: 0; /* Меню выдвигается слева направо */
}

.menuHeader {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 16px;
  flex-direction: column
}

.menuHeader span:first-child {
  font-weight: 600;
}

.menuHeader span:last-child {
  color: #cccccc;
}

.navbarMenu a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid #4a5568; /* Разделительная линия, как в myBooking */
  font-family: 'Amaranth', sans-serif;
}

.navbarMenu a:hover {
  color: #cccccc;
}

@media (max-width: 768px) {
 

  .navbarBurger {
    width: 30px;
    height: 20px;
  }

  .navbarBurger span {
    width: 100%;
    height: 3px;
    background-color: #ffffff;
  }

  .navbarMenu {
    width: 250px;
  }

  .navbarMenu a {
    font-size: 18px;
  }
}